In [1]:
# dependencies
import plotly
import plotly.plotly as py
import plotly.figure_factory as ff
import numpy as np
import pandas as pd
# import addfips
import urllib
import random
plotly.tools.set_credentials_file(username='michaelgarza', api_key='Dqqcuh2voaSqHOqQFP5W')

In [2]:
state_abbrev = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming',
        'District of Columbia':'District of Columbia'
}

In [3]:
# reading in csv file that contains county information to create the choropleth
# ('https://aqs.epa.gov/aqsweb/airdata/annual_aqi_by_county_2018.zip')

df_aqi = pd.read_csv("raw_data/annual_aqi_by_county_2017.csv")
df_aqi['County'] = df_aqi['County'].apply(lambda x: x.lower())
# df_aqi[df_aqi['State']==''.startswith('D')]
# df_aqi['State'].unique()
print(len(df_aqi))
df_aqi.head()

1061

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,Alabama,baldwin,2017,270,241,28,1,0,0,0,108,51,36,0,0,206,0,64,0
1,Alabama,clay,2017,118,104,14,0,0,0,0,66,52,30,0,0,0,0,118,0
2,Alabama,colbert,2017,283,265,18,0,0,0,0,63,48,37,0,0,218,0,65,0
3,Alabama,dekalb,2017,359,329,30,0,0,0,0,80,50,39,0,0,315,0,44,0
4,Alabama,elmore,2017,226,221,5,0,0,0,0,58,45,35,0,0,226,0,0,0

In [4]:
df_sample = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/laucnty16.csv')
# df_sample=pd.concat([df_sample, df_aqi],axis=1)
df_sample['State FIPS Code'] = df_sample['State FIPS Code'].apply(lambda x: str(x).zfill(2))
df_sample['County FIPS Code'] = df_sample['County FIPS Code'].apply(lambda x: str(x).zfill(3))
df_sample['FIPS'] = df_sample['State FIPS Code'] + df_sample['County FIPS Code']

# df_sample['County'], df_sample['State'] = df_sample[df_sample['County Name/State Abbreviation'][:-4]]
#  = df_sample[['County Name/State Abbreviation']][-2:]
df_sample["County"] = df_sample['County Name/State Abbreviation'].apply(lambda x: x.split(",")[0].replace(" County", "").lower())
df_sample["State Abbreviation"] = df_sample['County Name/State Abbreviation'].apply(lambda x: x.split(", ")[-1])
df_sample["State"] = df_sample["State Abbreviation"].apply(lambda x: state_abbrev[x])
# df_sample[df_sample["State Abbreviation"]=="District of Columbia"]
print(len(df_sample))
df_sample.head()

3219

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%),FIPS,County,State Abbreviation,State
0,CN0100100000000,01,001,"Autauga County, AL",2016,"25,649","24,297","1,352",5.3,01001,autauga,AL,Alabama
1,CN0100300000000,01,003,"Baldwin County, AL",2016,"89,931","85,061","4,870",5.4,01003,baldwin,AL,Alabama
2,CN0100500000000,01,005,"Barbour County, AL",2016,"8,302","7,584",718,8.6,01005,barbour,AL,Alabama
3,CN0100700000000,01,007,"Bibb County, AL",2016,"8,573","8,004",569,6.6,01007,bibb,AL,Alabama
4,CN0100900000000,01,009,"Blount County, AL",2016,"24,525","23,171","1,354",5.5,01009,blount,AL,Alabama

In [45]:
df_countydata = df_sample[['State', 'County', 'FIPS', 'Year', 'State FIPS Code', 'State Abbreviation']]
df_countydata.head()

     State   County   FIPS  Year State FIPS Code State Abbreviation
0  Alabama  autauga  01001  2016              01                 AL
1  Alabama  baldwin  01003  2016              01                 AL
2  Alabama  barbour  01005  2016              01                 AL
3  Alabama     bibb  01007  2016              01                 AL
4  Alabama   blount  01009  2016              01                 AL

In [46]:
df_countydata = df_countydata.merge(df_aqi, how='inner', on=['State', 'County'])
# help(pd.merge)
print(len(df_countydata))
df_countydata

1002

,State,County,FIPS,Year_x,State FIPS Code,State Abbreviation,Year_y,Days with AQI,Good Days,Moderate Days,...,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,Alabama,baldwin,01003,2016,01,AL,2017,270,241,28,...,0,108,51,36,0,0,206,0,64,0
1,Alabama,clay,01027,2016,01,AL,2017,118,104,14,...,0,66,52,30,0,0,0,0,118,0
2,Alabama,colbert,01033,2016,01,AL,2017,283,265,18,...,0,63,48,37,0,0,218,0,65,0
3,Alabama,dekalb,01049,2016,01,AL,2017,359,329,30,...,0,80,50,39,0,0,315,0,44,0
4,Alabama,elmore,01051,2016,01,AL,2017,226,221,5,...,0,58,45,35,0,0,226,0,0,0
5,Alabama,etowah,01055,2016,01,AL,2017,360,233,125,...,0,163,62,45,0,0,133,0,227,0
6,Alabama,houston,01069,2016,01,AL,2017,281,260,20,...,0,131,48,35,0,0,203,0,78,0
7,Alabama,jefferson,01073,2016,01,AL,2017,365,144,212,...,0,129,76,55,0,2,85,70,207,1
8,Alabama,lawrence,01079,2016,01,AL,2017,51,46,5,...,0,80,48,21,0,0,0,0,51,0
9,Alabama,madison,01089,2016,01,AL,2017,336,302,34,...,0,100,51,39,0,0,230,0,52,54
10,Alabama,mobile,01097,2016,01,AL,2017,363,299,59,...,0,139,55,37,0,0,191,5,167,0
11,Alabama,montgomery,01101,2016,01,AL,2017,346,214,129,...,0,221,63,45,0,0,119,0,227,0
12,Alabama,morgan,01103,2016,01,AL,2017,364,317,47,...,0,80,52,39,0,0,184,0,180,0
13,Alabama,russell,01113,2016,01,AL,2017,311,228,83,...,0,87,62,44,0,0,173,0,138,0
14,Alabama,shelby,01117,2016,01,AL,2017,353,329,23,...,0,103,48,31,0,0,232,121,0,0
15,Alabama,sumter,01119,2016,01,AL,2017,350,330,20,...,0,83,48,34,0,0,183,0,167,0
16,Alabama,talladega,01121,2016,01,AL,2017,116,92,24,...,0,70,55,33,0,0,0,0,116,0
17,Alabama,tuscaloosa,01125,2016,01,AL,2017,350,165,184,...,0,123,67,52,0,0,64,0,286,0
18,Arizona,apache,04001,2016,04,AZ,2017,365,364,1,...,0,51,27,14,0,0,0,0,20,345
19,Arizona,cochise,04003,2016,04,AZ,2017,365,254,108,...,0,131,71,44,0,0,302,0,9,54
20,Arizona,coconino,04005,2016,04,AZ,2017,365,264,100,...,0,105,71,45,0,0,365,0,0,0
21,Arizona,gila,04007,2016,04,AZ,2017,365,69,155,...,0,200,130,84,0,0,93,256,0,16
22,Arizona,la paz,04012,2016,04,AZ,2017,358,276,80,...,0,105,64,43,0,0,342,0,13,3
23,Arizona,maricopa,04013,2016,04,AZ,2017,365,51,259,...,0,167,108,71,0,20,203,1,54,87
24,Arizona,mohave,04015,2016,04,AZ,2017,355,349,6,...,0,86,30,16,0,0,0,0,13,342
25,Arizona,navajo,04017,2016,04,AZ,2017,365,279,85,...,0,101,64,44,0,0,350,0,0,15
26,Arizona,pima,04019,2016,04,AZ,2017,365,145,213,...,0,122,80,53,0,0,207,0,36,122
27,Arizona,pinal,04021,2016,04,AZ,2017,365,64,233,...,1,365,115,75,0,0,119,0,38,208
28,Arizona,santa cruz,04023,2016,04,AZ,2017,365,279,82,...,0,186,61,32,0,0,0,0,167,198
29,Arizona,yavapai,04025,2016,04,AZ,2017,328,219,104,...,0,119,74,47,0,0,328,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,Wisconsin,marathon,55073,2016,55,WI,2017,237,223,14,...,0,90,47,36,0,0,237,0,0,0
973,Wisconsin,milwaukee,55079,2016,55,WI,2017,365,274,87,...,0,129,67,40,0,14,224,0,127,0
974,Wisconsin,oneida,55085,2016,55,WI,2017,364,359,5,...,0,59,20,1,0,0,0,364,0,0
975,Wisconsin,outagamie,55087,2016,55,WI,2017,365,299,57,...,0,132,61,36,0,0,197,43,125,0
976,Wisconsin,ozaukee,55089,2016,55,WI,2017,348,293,47,...,0,136,62,36,0,0,222,0,126,0
977,Wisconsin,racine,55101,2016,55,WI,2017,230,176,43,...,0,143,84,42,0,0,230,0,0,0
978,Wisconsin,rock,55105,2016,55,WI,2017,234,203,31,...,0,87,58,40,0,0,234,0,0,0
979,Wisconsin,sauk,55111,2016,55,WI,2017,364,319,45,...,0,87,53,36,0,0,179,0,184,1
980,Wisconsin,sheboygan,55117,2016,55,WI,2017,245,192,40,...,0,129,71,41,0,0,245,0,0,0
981,Wisconsin,taylor,55119,2016,55,WI,2017,363,335,28,...,0,77,48,34,0,0,293,0,70,0
982,Wisconsin,vilas,55125,2016,55,WI,2017,319,306,13,...,0,80,45,32,0,0,232,0,87,0
983,Wisconsin,walworth,55127,2016,55,WI,2017,243,219,24,...,0,90,50,39,0,0,243,0,0,0
984,Wisconsin,waukesha,55133,2016,55,WI,2017,359,287,72,...,0,90,59,39,0,0,191,0,168,0
985,Wyoming,albany,56001,2016,56,WY,2017,365,225,137,...,0,153,74,48,0,3,325,0,7,30
986,Wyoming,big horn,56003,2016,56,WY,2017,345,326,19,...,0,74,49,36,0,0,345,0,0,0
987,Wyoming,campbell,56005,2016,56,WY,2017,365,240,118,...,0,164,69,44,0,0,240,0,23,102
988,Wyoming,carbon,56007,2016,56,WY,2017,365,309,55,...,0,111,54,43,0,14,343,8,0,0
989,Wyoming,converse,56009,2016,56,WY,2017,365,290,72,...,0,121,61,42,0,4,299,0,20,42
990,Wyoming,fremont,56013,2016,56,WY,2017,365,233,129,...,0,118,68,48,0,0,276,48,41,0
991,Wyoming,laramie,56021,2016,56,WY,2017,365,281,81,...,0,160,64,44,0,8,329,0,24,4
992,Wyoming,lincoln,56023,2016,56,WY,2017,365,348,16,...,0,208,34,14,0,0,0,0,0,365
993,Wyoming,natrona,56025,2016,56,WY,2017,365,297,66,...,0,137,61,44,0,11,341,0,13,0
994,Wyoming,park,56029,2016,56,WY,2017,121,107,14,...,0,86,53,14,0,0,0,0,92,29
995,Wyoming,platte,56031,2016,56,WY,2017,60,54,6,...,0,72,57,15,0,0,0,0,0,60
996,Wyoming,sheridan,56033,2016,56,WY,2017,365,259,102,...,0,155,67,42,0,1,269,0,50,45
997,Wyoming,sublette,56035,2016,56,WY,2017,365,228,129,...,0,150,71,48,0,0,345,0,20,0
998,Wyoming,sweetwater,56037,2016,56,WY,2017,365,259,100,...,0,264,67,46,0,1,319,3,7,35
999,Wyoming,teton,56039,2016,56,WY,2017,365,299,65,...,0,118,58,44,0,0,342,0,23,0
1000,Wyoming,uinta,56041,2016,56,WY,2017,365,310,53,...,0,696,54,44,0,3,348,0,0,14
1001,Wyoming,weston,56045,2016,56,WY,2017,365,333,32,...,0,93,50,38,0,0,289,76,0,0

In [54]:
state_aqi = pd.DataFrame(df_countydata.groupby(['FIPS','State FIPS Code','State','State Abbreviation'])['Median AQI'].mean()).reset_index()
state_aqi.head() #['Median AQI']
# help(pd.DataFrame.groupby)
# fips = df_countydata['FIPS'].tolist()
# values = df_countydata['Median AQI'].tolist()

    FIPS State FIPS Code    State State Abbreviation  Median AQI
0  01003              01  Alabama                 AL          36
1  01027              01  Alabama                 AL          30
2  01033              01  Alabama                 AL          37
3  01049              01  Alabama                 AL          39
4  01051              01  Alabama                 AL          35

In [11]:
# df_sample['State FIPS Code'] = df_sample['State FIPS Code'].apply(lambda x: str(x).zfill(2))
# df_sample['County FIPS Code'] = df_sample['County FIPS Code'].apply(lambda x: str(x).zfill(3))
# df_sample['FIPS'] = df_sample['State FIPS Code'] + df_sample['County FIPS Code']

colorscale = ["#ebf3fb","#deebf7","#d2e3f3","#c6dbef","#b3d2e9","#9ecae1",
              "#85bcdb","#6baed6","#57a0ce"]
colors = {"good": "#1fca23", 
          "moderate": "#fffd38", 
          "usg":"#fc6621", 
          "unhealthy": "#fc0d1b", 
          "very unhealthy":"#97084c", 
          "hazardous":"#7d0425", 
          "idk":"#000000"
         }
# endpts = list(np.linspace(0, 500, len(colors.values()) - 1))
endpts = [50, 100, 150, 200, 300, 500]
# endpts = list(np.linspace(0, 500, 50))
fips = df_countydata['FIPS'].tolist()
values = df_countydata['Max AQI'].tolist()

fig = ff.create_choropleth(
    fips=fips, values=values,
    binning_endpoints=endpts,
    colorscale=colors.values(),
    show_state_data=True,
    show_hover=True, centroid_marker={'opacity': 0},
    asp=2.9, title='Max AQI',
    legend_title='% Air Quality Index'
)

py.iplot(fig, filename='choropleth_full_usa')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~michaelgarza/0 or inside your plot.ly account where it is named 'choropleth_full_usa'

In [56]:
colorscale = ["#ebf3fb","#deebf7","#d2e3f3","#c6dbef","#b3d2e9","#9ecae1",
              "#85bcdb","#6baed6","#57a0ce"]
colors = {"good": "#1fca23", 
          "moderate": "#fffd38", 
          "usg":"#fc6621", 
          "unhealthy": "#fc0d1b", 
          "very unhealthy":"#97084c", 
          "hazardous":"#7d0425", 
          "idk":"#000000"
         }
endpts = [50, 100, 150, 200, 300, 500]
fips = state_aqi['State FIPS Code'].tolist()
values = state_aqi['Median AQI'].tolist()

fig = ff.create_choropleth(
    values=values, scope=['usa'],
    binning_endpoints=endpts,
    colorscale=colors.values(),
    show_state_data=True,
    show_hover=True, centroid_marker={'opacity': 0},
    asp=2.9, title='Median AQI',
    legend_title='% Air Quality Index'
)

py.iplot(fig, filename='choropleth_full_usa')

TypeError: create_choropleth() missing 1 required positional argument: 'fips'

In [50]:
help(ff.create_choropleth)

Help on function create_choropleth in module plotly.figure_factory._county_choropleth:

create_choropleth(fips, values, scope=['usa'], binning_endpoints=None, colorscale=None, order=None, simplify_county=0.02, simplify_state=0.02, asp=None, show_hover=True, show_state_data=True, state_outline=None, county_outline=None, centroid_marker=None, round_legend_values=False, exponent_format=False, legend_title='', **layout_options)
    Returns figure for county choropleth. Uses data from package_data.

    :param (list) fips: list of FIPS values which correspond to the con
        catination of state and county ids. An example is '01001'.
    :param (list) values: list of numbers/strings which correspond to the
        fips list. These are the values that will determine how the counties
        are colored.
    :param (list) scope: list of states and/or states abbreviations. Fits
        all states in the camera tightly. Selecting ['usa'] is the equivalent
        of appending all 50 states into your scope list. Selecting only 'usa'
        does not include 'Alaska', 'Puerto Rico', 'American Samoa',
        'Commonwealth of the Northern Mariana Islands', 'Guam',
        'United States Virgin Islands'. These must be added manually to the
        list.
        Default = ['usa']
    :param (list) binning_endpoints: ascending numbers which implicitly define
        real number intervals which are used as bins. The colorscale used must
        have the same number of colors as the number of bins and this will
        result in a categorical colormap.
    :param (list) colorscale: a list of colors with length equal to the
        number of categories of colors. The length must match either all
        unique numbers in the 'values' list or if endpoints is being used, the
        number of categories created by the endpoints.

        For example, if binning_endpoints = [4, 6, 8], then there are 4 bins:
        [-inf, 4), [4, 6), [6, 8), [8, inf)
    :param (list) order: a list of the unique categories (numbers/bins) in any
        desired order. This is helpful if you want to order string values to
        a chosen colorscale.
    :param (float) simplify_county: determines the simplification factor
        for the counties. The larger the number, the fewer vertices and edges
        each polygon has. See
        http://toblerity.org/shapely/manual.html#object.simplify for more
        information.
        Default = 0.02
    :param (float) simplify_state: simplifies the state outline polygon.
        See http://toblerity.org/shapely/manual.html#object.simplify for more
        information.
        Default = 0.02
    :param (float) asp: the width-to-height aspect ratio for the camera.
        Default = 2.5
    :param (bool) show_hover: show county hover and centroid info
    :param (bool) show_state_data: reveals state boundary lines
    :param (dict) state_outline: dict of attributes of the state outline
        including width and color. See
        https://plot.ly/python/reference/#scatter-marker-line for all valid
        params
    :param (dict) county_outline: dict of attributes of the county outline
        including width and color. See
        https://plot.ly/python/reference/#scatter-marker-line for all valid
        params
    :param (dict) centroid_marker: dict of attributes of the centroid marker.
        The centroid markers are invisible by default and appear visible on
        selection. See https://plot.ly/python/reference/#scatter-marker for
        all valid params
    :param (bool) round_legend_values: automatically round the numbers that
        appear in the legend to the nearest integer.
        Default = False
    :param (bool) exponent_format: if set to True, puts numbers in the K, M,
        B number format. For example 4000.0 becomes 4.0K
        Default = False
    :param (str) legend_title: title that appears above the legend
    :param **layout_options: a **kwargs argument for all layout parameters


    Example 1: Florida
    ```
    import plotly.plotly as py
    import plotly.figure_factory as ff

    import numpy as np
    import pandas as pd

    df_sample = pd.read_csv(
        'https://raw.githubusercontent.com/plotly/datasets/master/minoritymajority.csv'
    )
    df_sample_r = df_sample[df_sample['STNAME'] == 'Florida']

    values = df_sample_r['TOT_POP'].tolist()
    fips = df_sample_r['FIPS'].tolist()

    binning_endpoints = list(np.mgrid[min(values):max(values):4j])
    colorscale = ["#030512","#1d1d3b","#323268","#3d4b94","#3e6ab0",
                  "#4989bc","#60a7c7","#85c5d3","#b7e0e4","#eafcfd"]
    fig = ff.create_choropleth(
        fips=fips, values=values, scope=['Florida'], show_state_data=True,
        colorscale=colorscale, binning_endpoints=binning_endpoints,
        round_legend_values=True, plot_bgcolor='rgb(229,229,229)',
        paper_bgcolor='rgb(229,229,229)', legend_title='Florida Population',
        county_outline={'color': 'rgb(255,255,255)', 'width': 0.5},
        exponent_format=True,
    )
    py.iplot(fig, filename='choropleth_florida')
    ```

    Example 2: New England
    ```
    import plotly.plotly as py
    import plotly.figure_factory as ff

    import pandas as pd

    NE_states = ['Connecticut', 'Maine', 'Massachusetts',
                 'New Hampshire', 'Rhode Island']
    df_sample = pd.read_csv(
        'https://raw.githubusercontent.com/plotly/datasets/master/minoritymajority.csv'
    )
    df_sample_r = df_sample[df_sample['STNAME'].isin(NE_states)]
    colorscale = ['rgb(68.0, 1.0, 84.0)',
     'rgb(66.0, 64.0, 134.0)',
     'rgb(38.0, 130.0, 142.0)',
     'rgb(63.0, 188.0, 115.0)',
     'rgb(216.0, 226.0, 25.0)']

    values = df_sample_r['TOT_POP'].tolist()
    fips = df_sample_r['FIPS'].tolist()
    fig = ff.create_choropleth(
        fips=fips, values=values, scope=NE_states, show_state_data=True
    )
    py.iplot(fig, filename='choropleth_new_england')
    ```

    Example 3: California and Surrounding States
    ```
    import plotly.plotly as py
    import plotly.figure_factory as ff

    import pandas as pd

    df_sample = pd.read_csv(
        'https://raw.githubusercontent.com/plotly/datasets/master/minoritymajority.csv'
    )
    df_sample_r = df_sample[df_sample['STNAME'] == 'California']

    values = df_sample_r['TOT_POP'].tolist()
    fips = df_sample_r['FIPS'].tolist()

    colorscale = [
        'rgb(193, 193, 193)',
        'rgb(239,239,239)',
        'rgb(195, 196, 222)',
        'rgb(144,148,194)',
        'rgb(101,104,168)',
        'rgb(65, 53, 132)'
    ]

    fig = ff.create_choropleth(
        fips=fips, values=values, colorscale=colorscale,
        scope=['CA', 'AZ', 'Nevada', 'Oregon', ' Idaho'],
        binning_endpoints=[14348, 63983, 134827, 426762, 2081313],
        county_outline={'color': 'rgb(255,255,255)', 'width': 0.5},
        legend_title='California Counties',
        title='California and Nearby States'
    )
    py.iplot(fig, filename='choropleth_california_and_surr_states_outlines')
    ```

    Example 4: USA
    ```
    import plotly.plotly as py
    import plotly.figure_factory as ff

    import numpy as np
    import pandas as pd

    df_sample = pd.read_csv(
        'https://raw.githubusercontent.com/plotly/datasets/master/laucnty16.csv'
    )
    df_sample['State FIPS Code'] = df_sample['State FIPS Code'].apply(
        lambda x: str(x).zfill(2)
    )
    df_sample['County FIPS Code'] = df_sample['County FIPS Code'].apply(
        lambda x: str(x).zfill(3)
    )
    df_sample['FIPS'] = (
        df_sample['State FIPS Code'] + df_sample['County FIPS Code']
    )

    binning_endpoints = list(np.linspace(1, 12, len(colorscale) - 1))
    colorscale = ["#f7fbff", "#ebf3fb", "#deebf7", "#d2e3f3", "#c6dbef",
                  "#b3d2e9", "#9ecae1", "#85bcdb", "#6baed6", "#57a0ce",
                  "#4292c6", "#3082be", "#2171b5", "#1361a9", "#08519c",
                  "#0b4083","#08306b"]
    fips = df_sample['FIPS']
    values = df_sample['Unemployment Rate (%)']
    fig = ff.create_choropleth(
        fips=fips, values=values, scope=['usa'],
        binning_endpoints=binning_endpoints, colorscale=colorscale,
        show_hover=True, centroid_marker={'opacity': 0},
        asp=2.9, title='USA by Unemployment %',
        legend_title='Unemployment %'
    )

    py.iplot(fig, filename='choropleth_full_usa')
    ```

In [9]:
# the following block of code is to create the choropleth
# for col in df.columns:
#     df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

colors = {"good": "#1fca23", 
          "moderate": "#fffd38", 
          "usg":"#fc6621", 
          "unhealthy": "#fc0d1b", 
          "very unhealthy":"#97084c", 
          "hazardous":"#7d0425", 
          "idk":"#000000"
         }
endpts = [[50, 100, 150, 200, 300, 500]]

df['text'] = df['state'] + '<br>' +\
    'Beef '+df['beef']+' Dairy '+df['dairy']+'<br>'+\
    'Fruits '+df['total fruits']+' Veggies ' + df['total veggies']+'<br>'+\
    'Wheat '+df['wheat']+' Corn '+df['corn']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['code'],
        z = df['total exports'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Millions USD")
        ) ]

layout = dict(
        title = '2011 US Agriculture Exports by State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )