# Data Cleaning

In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from config import state_abbrev, reverse_state_abbrev, state_codes

import plotly.offline as py
import plotly.graph_objs as go
import plotly.figure_factory as ff
py.init_notebook_mode(connected=True)

## US Air Quality Index (AQI) Data - by County
By state/county, with FIPS data for choropleth plotting.

In [2]:
# Read in and combine AQI data
county_aqi_df = pd.DataFrame()
for yr in range(1980,2018):
    aqi = pd.read_csv('raw_data/annual_aqi_by_county_{}.csv'.format(yr))
    county_aqi_df = county_aqi_df.append(aqi, ignore_index=True)

# Make state and county names lowercase
for y in ['State', 'County']:
    county_aqi_df[y] = county_aqi_df[y].apply(lambda x: x.lower())

# county_aqi_df.head()
county_aqi_df.loc[county_aqi_df['State']=='louisiana']
# county_aqi_df['State'].unique()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
214,louisiana,bossier,1980,53,46,3,1,2,1,0,210,67,32,0,0,53,0,0,0
215,louisiana,calcasieu,1980,263,218,26,15,1,3,0,238,84,30,0,0,263,0,0,0
216,louisiana,east baton rouge,1980,336,216,71,32,11,6,0,240,112,39,0,0,296,40,0,0
217,louisiana,grant,1980,183,152,25,5,1,0,0,169,71,35,0,0,183,0,0,0
218,louisiana,iberville,1980,284,203,41,25,7,8,0,244,119,37,0,0,284,0,0,0
219,louisiana,orleans,1980,298,269,24,2,3,0,0,174,50,18,0,0,298,0,0,0
220,louisiana,st. charles,1980,270,174,70,24,2,0,0,172,99,37,0,143,0,127,0,0
221,louisiana,st. john the baptist,1980,362,331,19,5,6,1,0,213,46,7,0,0,142,220,0,0
816,louisiana,bossier,1981,333,220,72,35,6,0,0,182,108,42,0,0,325,8,0,0
817,louisiana,caddo,1981,288,188,62,28,9,1,0,201,108,44,0,0,288,0,0,0
818,louisiana,calcasieu,1981,330,233,64,27,6,0,0,190,101,39,0,0,301,29,0,0
819,louisiana,east baton rouge,1981,365,192,102,39,22,10,0,229,133,49,0,0,286,79,0,0
820,louisiana,grant,1981,107,75,28,4,0,0,0,140,77,39,0,0,107,0,0,0
821,louisiana,iberville,1981,340,277,42,17,3,1,0,213,80,35,0,0,340,0,0,0
822,louisiana,orleans,1981,364,250,96,17,1,0,0,154,78,42,98,56,210,0,0,0
823,louisiana,ouachita,1981,229,153,45,24,7,0,0,169,115,40,0,0,201,28,0,0
824,louisiana,st. bernard,1981,280,223,46,9,2,0,0,174,71,35,0,0,244,36,0,0
825,louisiana,st. charles,1981,272,189,50,29,4,0,0,183,103,30,0,118,0,154,0,0
826,louisiana,st. john the baptist,1981,351,274,57,15,5,0,0,187,80,34,0,0,298,53,0,0
1415,louisiana,bossier,1982,350,284,50,14,2,0,0,174,77,34,0,0,328,22,0,0
1416,louisiana,caddo,1982,313,220,66,26,1,0,0,159,97,41,0,0,313,0,0,0
1417,louisiana,calcasieu,1982,335,261,43,22,8,1,0,220,90,38,0,0,300,35,0,0
1418,louisiana,east baton rouge,1982,365,226,99,25,9,6,0,259,108,44,8,0,249,108,0,0
1419,louisiana,grant,1982,144,118,22,4,0,0,0,140,71,38,0,0,144,0,0,0
1420,louisiana,iberville,1982,347,301,28,11,6,1,0,240,64,28,0,0,347,0,0,0
1421,louisiana,jefferson,1982,234,135,56,25,11,7,0,246,136,45,0,61,173,0,0,0
1422,louisiana,orleans,1982,365,264,95,4,2,0,0,190,68,43,96,138,131,0,0,0
1423,louisiana,ouachita,1982,317,287,30,0,0,0,0,100,50,31,0,0,271,46,0,0
1424,louisiana,st. bernard,1982,312,273,31,7,0,1,0,204,54,31,0,0,236,76,0,0
1425,louisiana,st. john the baptist,1982,349,321,20,7,1,0,0,164,49,30,0,0,349,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34110,louisiana,st. james,2016,366,347,19,0,0,0,0,84,46,31,0,0,366,0,0,0
34111,louisiana,st. john the baptist,2016,365,347,17,1,0,0,0,105,48,35,0,0,365,0,0,0
34112,louisiana,st. martin,2016,361,324,37,0,0,0,0,97,51,39,0,0,361,0,0,0
34113,louisiana,st. tammany,2016,363,330,32,1,0,0,0,119,50,37,0,0,276,0,87,0
34114,louisiana,tangipahoa,2016,117,110,7,0,0,0,0,60,43,28,0,0,0,0,117,0
34115,louisiana,terrebonne,2016,120,116,4,0,0,0,0,72,43,28,0,0,0,0,120,0
34116,louisiana,west baton rouge,2016,366,295,69,2,0,0,0,112,56,40,0,14,184,3,165,0
35143,louisiana,ascension,2017,363,334,27,2,0,0,0,119,48,34,0,12,351,0,0,0
35144,louisiana,bossier,2017,364,301,63,0,0,0,0,100,58,38,0,0,261,0,101,2
35145,louisiana,caddo,2017,351,295,56,0,0,0,0,100,54,37,0,0,278,0,73,0
35146,louisiana,calcasieu,2017,365,244,118,3,0,0,0,115,61,45,0,2,109,5,249,0
35147,louisiana,east baton rouge,2017,365,252,107,6,0,0,0,126,63,44,0,5,135,6,218,1
35148,louisiana,iberville,2017,365,304,60,1,0,0,0,112,58,39,0,0,325,0,40,0
35149,louisiana,jefferson,2017,365,307,56,2,0,0,0,126,55,38,0,12,208,0,145,0
35150,louisiana,lafayette,2017,365,269,95,1,0,0,0,105,64,41,0,0,224,0,140,1
35151,louisiana,lafourche,2017,365,326,39,0,0,0,0,86,51,36,0,0,289,0,76,0
35152,louisiana,livingston,2017,365,289,73,3,0,0,0,112,57,40,0,1,163,0,201,0
35153,louisiana,orleans,2017,365,309,56,0,0,0,0,98,53,38,1,61,0,0,302,1
35154,louisiana,ouachita,2017,361,340,21,0,0,0,0,81,47,34,0,0,310,0,51,0
35155,louisiana,pointe coupee,2017,363,343,18,2,0,0,0,105,44,32,0,0,363,0,0,0
35156,louisiana,rapides,2017,107,97,10,0,0,0,0,65,49,31,0,0,0,0,107,0
35157,louisiana,st. bernard,2017,365,302,63,0,0,0,0,99,56,40,0,0,250,18,97,0
35158,louisiana,st. charles,2017,349,338,11,0,0,0,0,87,26,1,0,0,0,349,0,0
35159,louisiana,st. james,2017,365,349,16,0,0,0,0,80,46,31,0,0,365,0,0,0
35160,louisiana,st. john the baptist,2017,362,337,25,0,0,0,0,100,47,33,0,0,362,0,0,0
35161,louisiana,st. martin,2017,347,318,28,1,0,0,0,101,50,36,0,0,347,0,0,0
35162,louisiana,st. tammany,2017,364,313,50,1,0,0,0,129,54,38,0,0,268,0,96,0
35163,louisiana,tangipahoa,2017,116,102,14,0,0,0,0,92,52,31,0,0,0,0,116,0
35164,louisiana,terrebonne,2017,120,109,11,0,0,0,0,86,49,28,0,0,0,0,120,0
35165,louisiana,west baton rouge,2017,365,292,70,3,0,0,0,140,58,40,0,7,162,6,190,0

In [3]:
# Get dataframe with state/county FIPS codes
fips = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/laucnty16.csv')

# Parse FIPS county/state data
fips["County"] = fips['County Name/State Abbreviation'].apply(lambda x: x.split(",")[0].replace(" County", "").replace(" Parish", "").lower())
fips["State Abbreviation"] = fips['County Name/State Abbreviation'].apply(lambda x: x.split(", ")[-1])
fips["State"] = fips["State Abbreviation"].apply(lambda x: state_abbrev[x].lower())

# Pad FIPS codes with 0's, concat for combined FIPS code
fips['State FIPS Code'] = fips['State FIPS Code'].apply(lambda x: str(x).zfill(2))
fips['County FIPS Code'] = fips['County FIPS Code'].apply(lambda x: str(x).zfill(3))
fips['FIPS'] = fips['State FIPS Code'] + fips['County FIPS Code']

# Remove unused columns
fips = fips[['County','State','State Abbreviation','FIPS','State FIPS Code','County FIPS Code']]

fips.loc[fips['State']=='louisiana']

,County,State,State Abbreviation,FIPS,State FIPS Code,County FIPS Code
1112,acadia,louisiana,LA,22001,22,001
1113,allen,louisiana,LA,22003,22,003
1114,ascension,louisiana,LA,22005,22,005
1115,assumption,louisiana,LA,22007,22,007
1116,avoyelles,louisiana,LA,22009,22,009
1117,beauregard,louisiana,LA,22011,22,011
1118,bienville,louisiana,LA,22013,22,013
1119,bossier,louisiana,LA,22015,22,015
1120,caddo,louisiana,LA,22017,22,017
1121,calcasieu,louisiana,LA,22019,22,019
1122,caldwell,louisiana,LA,22021,22,021
1123,cameron,louisiana,LA,22023,22,023
1124,catahoula,louisiana,LA,22025,22,025
1125,claiborne,louisiana,LA,22027,22,027
1126,concordia,louisiana,LA,22029,22,029
1127,de soto,louisiana,LA,22031,22,031
1128,east baton rouge,louisiana,LA,22033,22,033
1129,east carroll,louisiana,LA,22035,22,035
1130,east feliciana,louisiana,LA,22037,22,037
1131,evangeline,louisiana,LA,22039,22,039
1132,franklin,louisiana,LA,22041,22,041
1133,grant,louisiana,LA,22043,22,043
1134,iberia,louisiana,LA,22045,22,045
1135,iberville,louisiana,LA,22047,22,047
1136,jackson,louisiana,LA,22049,22,049
1137,jefferson,louisiana,LA,22051,22,051
1138,jefferson davis,louisiana,LA,22053,22,053
1139,lafayette,louisiana,LA,22055,22,055
1140,lafourche,louisiana,LA,22057,22,057
1141,lasalle,louisiana,LA,22059,22,059
...,...,...,...,...,...,...
1146,natchitoches,louisiana,LA,22069,22,069
1147,orleans,louisiana,LA,22071,22,071
1148,ouachita,louisiana,LA,22073,22,073
1149,plaquemines,louisiana,LA,22075,22,075
1150,pointe coupee,louisiana,LA,22077,22,077
1151,rapides,louisiana,LA,22079,22,079
1152,red river,louisiana,LA,22081,22,081
1153,richland,louisiana,LA,22083,22,083
1154,sabine,louisiana,LA,22085,22,085
1155,st. bernard,louisiana,LA,22087,22,087
1156,st. charles,louisiana,LA,22089,22,089
1157,st. helena,louisiana,LA,22091,22,091
1158,st. james,louisiana,LA,22093,22,093
1159,st. john the baptist,louisiana,LA,22095,22,095
1160,st. landry,louisiana,LA,22097,22,097
1161,st. martin,louisiana,LA,22099,22,099
1162,st. mary,louisiana,LA,22101,22,101
1163,st. tammany,louisiana,LA,22103,22,103
1164,tangipahoa,louisiana,LA,22105,22,105
1165,tensas,louisiana,LA,22107,22,107
1166,terrebonne,louisiana,LA,22109,22,109
1167,union,louisiana,LA,22111,22,111
1168,vermilion,louisiana,LA,22113,22,113
1169,vernon,louisiana,LA,22115,22,115
1170,washington,louisiana,LA,22117,22,117
1171,webster,louisiana,LA,22119,22,119
1172,west baton rouge,louisiana,LA,22121,22,121
1173,west carroll,louisiana,LA,22123,22,123
1174,west feliciana,louisiana,LA,22125,22,125
1175,winn,louisiana,LA,22127,22,127

In [4]:
# Export FIPS data to csv
fips.to_csv("clean_data/fips_data.csv")
print('Done.')

Done.

In [5]:
# Combine fips df with county AQI df
county_aqi_1980_2018 = county_aqi_df.merge(fips, how='inner', on=['State','County'])
# county_aqi_1980_2018.head()
county_aqi_1980_2018.loc[county_aqi_1980_2018['State']=='louisiana']

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,...,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,State Abbreviation,FIPS,State FIPS Code,County FIPS Code
6654,louisiana,bossier,1980,53,46,3,1,2,1,0,...,0,0,53,0,0,0,LA,22015,22,015
6655,louisiana,bossier,1981,333,220,72,35,6,0,0,...,0,0,325,8,0,0,LA,22015,22,015
6656,louisiana,bossier,1982,350,284,50,14,2,0,0,...,0,0,328,22,0,0,LA,22015,22,015
6657,louisiana,bossier,1983,330,288,37,5,0,0,0,...,0,0,241,89,0,0,LA,22015,22,015
6658,louisiana,bossier,1984,364,321,38,5,0,0,0,...,0,0,320,44,0,0,LA,22015,22,015
6659,louisiana,bossier,1985,349,275,57,13,4,0,0,...,0,0,332,17,0,0,LA,22015,22,015
6660,louisiana,bossier,1986,356,274,58,23,1,0,0,...,0,0,345,11,0,0,LA,22015,22,015
6661,louisiana,bossier,1987,364,235,74,47,8,0,0,...,0,0,347,17,0,0,LA,22015,22,015
6662,louisiana,bossier,1988,366,245,75,40,6,0,0,...,0,0,358,8,0,0,LA,22015,22,015
6663,louisiana,bossier,1989,364,282,59,21,2,0,0,...,0,0,339,22,0,3,LA,22015,22,015
6664,louisiana,bossier,1990,365,261,68,27,9,0,0,...,0,0,352,9,0,4,LA,22015,22,015
6665,louisiana,bossier,1991,362,304,49,9,0,0,0,...,0,0,334,17,0,11,LA,22015,22,015
6666,louisiana,bossier,1992,344,260,69,11,4,0,0,...,0,23,303,6,0,12,LA,22015,22,015
6667,louisiana,bossier,1993,363,295,43,19,6,0,0,...,0,46,304,6,0,7,LA,22015,22,015
6668,louisiana,bossier,1994,363,287,60,16,0,0,0,...,0,0,352,5,0,6,LA,22015,22,015
6669,louisiana,bossier,1995,364,289,61,14,0,0,0,...,0,0,357,1,0,6,LA,22015,22,015
6670,louisiana,bossier,1996,364,294,59,10,1,0,0,...,0,0,359,3,0,2,LA,22015,22,015
6671,louisiana,bossier,1997,363,266,74,22,1,0,0,...,0,0,355,5,0,3,LA,22015,22,015
6672,louisiana,bossier,1998,365,241,84,33,7,0,0,...,0,0,361,4,0,0,LA,22015,22,015
6673,louisiana,bossier,1999,364,250,75,33,6,0,0,...,0,0,361,3,0,0,LA,22015,22,015
6674,louisiana,bossier,2000,366,207,131,20,7,1,0,...,0,0,200,0,166,0,LA,22015,22,015
6675,louisiana,bossier,2001,364,218,119,25,2,0,0,...,0,0,208,1,155,0,LA,22015,22,015
6676,louisiana,bossier,2002,365,263,93,9,0,0,0,...,0,0,183,0,182,0,LA,22015,22,015
6677,louisiana,bossier,2003,365,194,156,14,1,0,0,...,0,0,130,0,235,0,LA,22015,22,015
6678,louisiana,bossier,2004,366,240,123,3,0,0,0,...,0,0,156,3,207,0,LA,22015,22,015
6679,louisiana,bossier,2005,365,203,143,18,1,0,0,...,0,0,173,3,189,0,LA,22015,22,015
6680,louisiana,bossier,2006,365,214,125,24,2,0,0,...,0,0,197,2,166,0,LA,22015,22,015
6681,louisiana,bossier,2007,365,230,122,11,2,0,0,...,0,0,167,3,195,0,LA,22015,22,015
6682,louisiana,bossier,2008,366,254,110,2,0,0,0,...,0,0,183,0,183,0,LA,22015,22,015
6683,louisiana,bossier,2009,365,269,89,6,1,0,0,...,0,0,193,2,170,0,LA,22015,22,015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32866,louisiana,terrebonne,2014,121,107,14,0,0,0,0,...,0,0,0,0,121,0,LA,22109,22,109
32867,louisiana,terrebonne,2015,122,116,6,0,0,0,0,...,0,0,0,0,122,0,LA,22109,22,109
32868,louisiana,terrebonne,2016,120,116,4,0,0,0,0,...,0,0,0,0,120,0,LA,22109,22,109
32869,louisiana,terrebonne,2017,120,109,11,0,0,0,0,...,0,0,0,0,120,0,LA,22109,22,109
33277,louisiana,winn,2001,84,56,27,1,0,0,0,...,0,0,0,0,84,0,LA,22127,22,127
33278,louisiana,winn,2002,113,94,19,0,0,0,0,...,0,0,0,0,113,0,LA,22127,22,127
33279,louisiana,winn,2003,120,86,34,0,0,0,0,...,0,0,0,0,120,0,LA,22127,22,127
33280,louisiana,winn,2004,117,98,18,1,0,0,0,...,0,0,0,0,117,0,LA,22127,22,127
33281,louisiana,winn,2005,120,78,42,0,0,0,0,...,0,0,0,0,120,0,LA,22127,22,127
33282,louisiana,winn,2006,116,86,30,0,0,0,0,...,0,0,0,0,116,0,LA,22127,22,127
33283,louisiana,winn,2007,112,80,32,0,0,0,0,...,0,0,0,0,112,0,LA,22127,22,127
33284,louisiana,winn,2008,111,98,13,0,0,0,0,...,0,0,0,0,111,0,LA,22127,22,127
33285,louisiana,winn,2009,115,107,8,0,0,0,0,...,0,0,0,0,115,0,LA,22127,22,127
33286,louisiana,winn,2010,115,92,23,0,0,0,0,...,0,0,0,0,115,0,LA,22127,22,127
33991,louisiana,st. tammany,2005,39,16,23,0,0,0,0,...,0,0,0,0,39,0,LA,22103,22,103
33992,louisiana,st. tammany,2006,56,24,32,0,0,0,0,...,0,0,0,0,56,0,LA,22103,22,103
33993,louisiana,st. tammany,2007,11,8,3,0,0,0,0,...,0,0,0,0,11,0,LA,22103,22,103
33994,louisiana,st. tammany,2008,238,145,84,9,0,0,0,...,0,0,143,0,95,0,LA,22103,22,103
33995,louisiana,st. tammany,2009,365,279,82,3,1,0,0,...,0,0,254,0,111,0,LA,22103,22,103
33996,louisiana,st. tammany,2010,362,236,121,3,2,0,0,...,0,0,239,0,123,0,LA,22103,22,103
33997,louisiana,st. tammany,2011,365,265,85,15,0,0,0,...,0,0,268,0,97,0,LA,22103,22,103
33998,louisiana,st. tammany,2012,359,267,89,3,0,0,0,...,0,0,254,0,105,0,LA,22103,22,103
33999,louisiana,st. tammany,2013,365,287,74,3,1,0,0,...,0,0,205,0,160,0,LA,22103,22,103
34000,louisiana,st. tammany,2014,365,281,75,9,0,0,0,...,0,0,239,0,126,0,LA,22103,22,103
34001,louisiana,st. tammany,2015,365,302,63,0,0,0,0,...,0,0,236,0,129,0,LA,22103,22,103
34002,louisiana,st. tammany,2016,363,330,32,1,0,0,0,...,0,0,276,0,87,0,LA,22103,22,103
34003,louisiana,st. tammany,2017,364,313,50,1,0,0,0,...,0,0,268,0,96,0,LA,22103,22,103
34534,louisiana,st. martin,2015,65,59,6,0,0,0,0,...,0,0,65,0,0,0,LA,22099,22,099
34535,louisiana,st. martin,2016,361,324,37,0,0,0,0,...,0,0,361,0,0,0,LA,22099,22,099
34536,louisiana,st. martin,2017,347,318,28,1,0,0,0,...,0,0,347,0,0,0,LA,22099,22,099

In [6]:
# Add columns with percentage data for good/hazardous days
county_aqi_1980_2018['% Days Good'] = county_aqi_1980_2018["Good Days"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018['% Days Moderate'] = county_aqi_1980_2018["Moderate Days"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018['% Days Unhealthy for Sensitive Groups'] = county_aqi_1980_2018["Unhealthy for Sensitive Groups Days"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018['% Days Unhealthy'] = county_aqi_1980_2018["Unhealthy Days"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018['% Days Very Unhealthy'] = county_aqi_1980_2018["Very Unhealthy Days"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018['% Days Hazardous'] = county_aqi_1980_2018["Hazardous Days"] / county_aqi_1980_2018["Days with AQI"] * 100
county_aqi_1980_2018.head()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,...,State Abbreviation,FIPS,State FIPS Code,County FIPS Code,% Days Good,% Days Moderate,% Days Unhealthy for Sensitive Groups,% Days Unhealthy,% Days Very Unhealthy,% Days Hazardous
0,alabama,autauga,1980,179,122,35,18,4,0,0,...,AL,01001,01,001,68.156425,19.553073,10.055866,2.234637,0.000000,0.0
1,alabama,autauga,1981,357,289,49,15,4,0,0,...,AL,01001,01,001,80.952381,13.725490,4.201681,1.120448,0.000000,0.0
2,alabama,autauga,1982,245,203,36,5,0,1,0,...,AL,01001,01,001,82.857143,14.693878,2.040816,0.000000,0.408163,0.0
3,alabama,autauga,1989,63,54,9,0,0,0,0,...,AL,01001,01,001,85.714286,14.285714,0.000000,0.000000,0.000000,0.0
4,alabama,autauga,1990,266,183,64,18,1,0,0,...,AL,01001,01,001,68.796992,24.060150,6.766917,0.375940,0.000000,0.0

In [7]:
county_aqi_1980_2018.loc[county_aqi_1980_2018['State']=='Louisiana']

Empty DataFrame
Columns: [State, County, Year, Days with AQI, Good Days, Moderate Days, Unhealthy for Sensitive Groups Days, Unhealthy Days, Very Unhealthy Days, Hazardous Days, Max AQI, 90th Percentile AQI, Median AQI, Days CO, Days NO2, Days Ozone, Days SO2, Days PM2.5, Days PM10, State Abbreviation, FIPS, State FIPS Code, County FIPS Code, % Days Good, % Days Moderate, % Days Unhealthy for Sensitive Groups, % Days Unhealthy, % Days Very Unhealthy, % Days Hazardous]
Index: []

[0 rows x 29 columns]

In [8]:
county_aqi_1980_2018.dtypes

State                                     object
County                                    object
Year                                       int64
Days with AQI                              int64
Good Days                                  int64
Moderate Days                              int64
Unhealthy for Sensitive Groups Days        int64
Unhealthy Days                             int64
Very Unhealthy Days                        int64
Hazardous Days                             int64
Max AQI                                    int64
90th Percentile AQI                        int64
Median AQI                                 int64
Days CO                                    int64
Days NO2                                   int64
Days Ozone                                 int64
Days SO2                                   int64
Days PM2.5                                 int64
Days PM10                                  int64
State Abbreviation                        object
FIPS                                      object
State FIPS Code                           object
County FIPS Code                          object
% Days Good                              float64
% Days Moderate                          float64
% Days Unhealthy for Sensitive Groups    float64
% Days Unhealthy                         float64
% Days Very Unhealthy                    float64
% Days Hazardous                         float64
dtype: object

In [9]:
# Export county aqi data to csv
county_aqi_1980_2018.to_csv("clean_data/county_aqi_1980_2018.csv")
print('Done.')

Done.

## US AQI Data - by CBSA

In [10]:
# Read in and combine AQI data
cbsa_aqi_df = pd.DataFrame()
for yr in range(1980,2018):
    aqi = pd.read_csv('raw_data/annual_aqi_by_cbsa_{}.csv'.format(yr))
    cbsa_aqi_df = cbsa_aqi_df.append(aqi, ignore_index=True)

# Parse CBSA column into city and state columns
cbsa_aqi_df['State Abbreviation'] = cbsa_aqi_df['CBSA'].apply(lambda x: x.split(', ')[-1])
cbsa_aqi_df['CBSA'] = cbsa_aqi_df['CBSA'].apply(lambda x: x.split(', ')[0])
    
cbsa_aqi_df

,CBSA,CBSA Code,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,State Abbreviation
0,Akron,10420,1980,366,17,119,171,57,2,0,205,164,109,8,5,55,298,0,0,OH
1,Albany-Schenectady-Troy,10580,1980,365,95,183,72,15,0,0,200,122,69,1,0,90,274,0,0,NY
2,Albuquerque,10740,1980,366,161,155,29,12,9,0,251,118,54,121,49,196,0,0,0,NM
3,Alexandria,10780,1980,183,152,25,5,1,0,0,169,71,35,0,0,183,0,0,0,LA
4,Allentown-Bethlehem-Easton,10900,1980,365,104,157,58,36,9,1,357,159,69,10,92,124,139,0,0,PA-NJ
5,Alma,10940,1980,359,275,36,46,2,0,0,152,120,27,0,0,0,359,0,0,MI
6,Altoona,11020,1980,147,111,26,7,3,0,0,177,84,33,0,0,37,110,0,0,PA
7,Amarillo,11100,1980,113,93,16,4,0,0,0,112,77,38,0,0,113,0,0,0,TX
8,Ames,11180,1980,180,147,23,9,1,0,0,163,74,7,0,0,0,180,0,0,IA
9,Anchorage,11260,1980,366,205,116,18,14,13,0,280,126,44,366,0,0,0,0,0,AK
10,Ann Arbor,11460,1980,363,300,45,14,4,0,0,166,76,29,0,0,193,170,0,0,MI
11,Appleton,11540,1980,202,175,19,8,0,0,0,150,61,34,0,0,202,0,0,0,WI
12,Asheville,11700,1980,174,104,38,26,6,0,0,164,122,45,0,0,174,0,0,0,NC
13,Ashtabula,11780,1980,366,201,98,54,13,0,0,200,119,47,0,0,180,186,0,0,OH
14,Atlanta-Sandy Springs-Roswell,12060,1980,366,90,158,86,24,8,0,233,147,80,69,37,148,112,0,0,GA
15,Atlantic City-Hammonton,12100,1980,328,115,139,40,27,7,0,238,154,63,134,0,159,35,0,0,NJ
16,Augusta-Richmond County,12260,1980,363,252,63,39,9,0,0,187,112,34,0,0,180,183,0,0,GA-SC
17,Augusta-Waterville,12300,1980,139,103,19,13,4,0,0,190,115,37,0,0,139,0,0,0,ME
18,Austin-Round Rock,12420,1980,311,244,48,15,4,0,0,174,84,38,2,3,295,11,0,0,TX
19,Bakersfield,12540,1980,365,45,158,89,46,27,0,230,190,93,9,45,156,155,0,0,CA
20,Baltimore-Columbia-Towson,12580,1980,360,49,169,78,32,32,0,237,197,85,18,110,121,111,0,0,MD
21,Bangor,12620,1980,366,55,85,117,109,0,0,200,200,114,18,0,27,321,0,0,ME
22,Barre,12740,1980,193,171,22,0,0,0,0,94,51,24,0,0,0,193,0,0,VT
23,Baton Rouge,12940,1980,355,205,74,49,13,14,0,244,137,44,0,0,318,37,0,0,LA
24,Battle Creek,12980,1980,356,356,0,0,0,0,0,43,27,0,0,0,0,356,0,0,MI
25,Bay City,13020,1980,365,294,47,19,4,1,0,213,67,34,0,0,269,96,0,0,MI
26,Beaumont-Port Arthur,13140,1980,338,161,84,50,23,20,0,235,169,54,2,28,217,91,0,0,TX
27,Bennington,13540,1980,216,206,9,1,0,0,0,102,41,20,0,0,0,216,0,0,VT
28,Berlin,13620,1980,359,49,76,148,86,0,0,200,182,118,9,0,0,350,0,0,NH-VT
29,Billings,13740,1980,263,72,65,92,34,0,0,200,157,94,11,1,2,249,0,0,MT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18159,Warner Robins,47580,2017,327,263,64,0,0,0,0,92,56,35,0,0,0,0,327,0,GA
18160,Warren,47620,2017,365,358,6,1,0,0,0,105,24,10,0,0,0,365,0,0,PA
18161,Washington Court House,47920,2017,357,326,30,1,0,0,0,115,49,35,0,0,357,0,0,0,OH
18162,Washington,47780,2017,358,358,0,0,0,0,0,27,11,4,0,0,0,358,0,0,IN
18163,Washington,47820,2017,365,365,0,0,0,0,0,31,11,1,0,0,0,365,0,0,NC
18164,Washington-Arlington-Alexandria,47900,2017,365,147,210,8,0,0,0,133,74,53,0,24,164,0,177,0,DC-VA-MD-WV
18165,Waterloo-Cedar Falls,47940,2017,363,231,132,0,0,0,0,93,64,46,0,0,78,0,285,0,IA
18166,Watertown,47980,2017,364,329,35,0,0,0,0,80,50,31,0,0,0,0,287,77,SD
18167,Watertown-Fort Atkinson,48020,2017,245,214,31,0,0,0,0,90,54,39,0,0,245,0,0,0,WI
18168,Watertown-Fort Drum,48060,2017,326,309,15,2,0,0,0,101,46,34,0,0,326,0,0,0,NY
18169,Wausau,48140,2017,237,223,14,0,0,0,0,90,47,36,0,0,237,0,0,0,WI
18170,Weatherford,48220,2017,305,302,3,0,0,0,0,88,30,17,0,0,0,0,0,305,OK
18171,Weirton-Steubenville,48260,2017,365,184,180,1,0,0,0,110,69,50,0,0,100,15,250,0,WV-OH
18172,Wenatchee,48300,2017,365,282,62,9,9,3,0,269,69,28,0,0,0,0,365,0,WA
18173,Wheeling,48540,2017,365,211,154,0,0,0,0,87,65,48,0,0,93,0,271,1,WV-OH
18174,Whitewater-Elkhorn,48580,2017,243,219,24,0,0,0,0,90,50,39,0,0,243,0,0,0,WI
18175,Wichita,48620,2017,365,268,97,0,0,0,0,100,61,43,0,6,221,0,52,86,KS
18176,Williamsport,48700,2017,364,343,21,0,0,0,0,84,46,33,0,0,329,0,0,35,PA
18177,Williston,48780,2017,365,312,50,3,0,0,0,131,54,37,0,0,247,47,67,4,ND
18178,Wilmington,48900,2017,365,340,25,0,0,0,0,67,48,33,0,0,178,12,175,0,NC
18179,Wilmington,48940,2017,245,206,36,3,0,0,0,143,61,42,0,0,245,0,0,0,OH
18180,Winchester,49020,2017,345,304,41,0,0,0,0,80,52,38,0,0,186,0,158,1,VA-WV
18181,Winona,49100,2017,50,48,2,0,0,0,0,58,41,14,0,0,0,0,50,0,MN
18182,Winston-Salem,49180,2017,365,256,109,0,0,0,0,100,62,44,0,9,194,0,162,0,NC
18183,Worcester,49340,2017,365,323,37,5,0,0,0,143,53,38,0,20,283,0,62,0,MA-CT
18184,Yakima,49420,2017,365,233,103,21,5,3,0,283,95,36,0,0,0,0,347,18,WA
18185,York-Hanover,49620,2017,365,266,99,0,0,0,0,93,61,43,0,14,211,1,139,0,PA
18186,Youngstown-Warren-Boardman,49660,2017,365,191,170,4,0,0,0,115,67,50,0,0,122,0,243,0,OH-PA
18187,Yuba City,49700,2017,365,181,175,9,0,0,0,130,82,51,0,0,172,0,189,4,CA
18188,Yuma,49740,2017,365,241,110,12,1,1,0,235,72,45,0,0,209,0,50,106,AZ

In [11]:
len(cbsa_aqi_df)

18189

In [12]:
# Add columns with percentage data for good/hazardous days
cbsa_aqi_df['% Days Good'] = cbsa_aqi_df["Good Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df['% Days Moderate'] = cbsa_aqi_df["Moderate Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df['% Days Unhealthy for Sensitive Groups'] = cbsa_aqi_df["Unhealthy for Sensitive Groups Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df['% Days Unhealthy'] = cbsa_aqi_df["Unhealthy Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df['% Days Very Unhealthy'] = cbsa_aqi_df["Very Unhealthy Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df['% Days Hazardous'] = cbsa_aqi_df["Hazardous Days"] / cbsa_aqi_df["Days with AQI"] * 100
cbsa_aqi_df.head()

,CBSA,CBSA Code,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,...,Days SO2,Days PM2.5,Days PM10,State Abbreviation,% Days Good,% Days Moderate,% Days Unhealthy for Sensitive Groups,% Days Unhealthy,% Days Very Unhealthy,% Days Hazardous
0,Akron,10420,1980,366,17,119,171,57,2,0,...,298,0,0,OH,4.644809,32.513661,46.721311,15.573770,0.546448,0.000000
1,Albany-Schenectady-Troy,10580,1980,365,95,183,72,15,0,0,...,274,0,0,NY,26.027397,50.136986,19.726027,4.109589,0.000000,0.000000
2,Albuquerque,10740,1980,366,161,155,29,12,9,0,...,0,0,0,NM,43.989071,42.349727,7.923497,3.278689,2.459016,0.000000
3,Alexandria,10780,1980,183,152,25,5,1,0,0,...,0,0,0,LA,83.060109,13.661202,2.732240,0.546448,0.000000,0.000000
4,Allentown-Bethlehem-Easton,10900,1980,365,104,157,58,36,9,1,...,139,0,0,PA-NJ,28.493151,43.013699,15.890411,9.863014,2.465753,0.273973

In [13]:
# Export county aqi data to csv
cbsa_aqi_df.to_csv("clean_data/cbsa_aqi_1980_2018.csv")
print('Done.')

Done.

## US Cancer Data - by State

In [14]:
# Read in csvs as dataframes
df_cancer_1998_2008 = pd.read_csv("raw_data/state_yearly_monthly_cancer_statistics_1999_to_2008.csv")
df_cancer_2009_2014 = pd.read_csv("raw_data/state_yearly_monthly_cancer_statistics_2009_to_2014.csv")

# Remove lines without data
df_cancer_1998_2008 = df_cancer_1998_2008.loc[df_cancer_1998_2008["State"].isin(reverse_state_abbrev)]
df_cancer_2009_2014 = df_cancer_2009_2014.loc[df_cancer_2009_2014["State"].isin(reverse_state_abbrev)]

# Combine dataframes
df_cancer_1998_2014 = df_cancer_1998_2008.append(df_cancer_2009_2014, ignore_index=True)

# Add column with state abbreviation for making choropleth
df_cancer_1998_2014["State Abbreviation"] = df_cancer_1998_2014["State"].apply(lambda x: reverse_state_abbrev[x])

# Change numeric dtypes
df_cancer_1998_2014[['State Code', 'Year', 'Year Code', 'Count']\
                   ] = df_cancer_1998_2014[['State Code', 'Year', 'Year Code', 'Count']].astype(int)

state_cancer_1998_2014 = df_cancer_1998_2014[['State','State Abbreviation','Year','Year Code','Cancer Sites','Cancer Sites Code','Count']]
state_cancer_1998_2014.head()

,State,State Abbreviation,Year,Year Code,Cancer Sites,Cancer Sites Code,Count
0,Connecticut,CT,1999,1999,All Invasive Cancer Sites Combined,0,18694
1,Connecticut,CT,2000,2000,All Invasive Cancer Sites Combined,0,19200
2,Connecticut,CT,2001,2001,All Invasive Cancer Sites Combined,0,19626
3,Connecticut,CT,2002,2002,All Invasive Cancer Sites Combined,0,19570
4,Connecticut,CT,2003,2003,All Invasive Cancer Sites Combined,0,19516

In [15]:
# Export state cancer data to csv
state_cancer_1998_2014.to_csv("clean_data/state_cancer_1998_2014.csv")
print('Done.')

Done.

In [16]:
# Group data by state
cancer_by_state = state_cancer_1998_2014.groupby(['State Abbreviation','State'])[['Count']].sum()
# cancer_by_state = cancer_by_state.reset_index('State Abbreviation')
cancer_by_state.head()

                                 Count
State Abbreviation State
AK                 Alaska       125735
AL                 Alabama     1215322
AR                 Arkansas     668683
AZ                 Arizona     1356728
CA                 California  7956919

## US Cancer Data - by County

In [17]:
# Read in county data for cancer incidences
csv = "Choropleth Testing/Resources/county_cancer_data.csv"
county_cancer_data = pd.read_csv(csv, encoding='latin-1')
county_cancer_data = county_cancer_data.rename(columns = {"County": "Geography"})

# Parse geographic info into county and state
county_cancer_data['County'] = county_cancer_data['Geography'].apply(lambda x: x.split(', ')[0].lower())
county_cancer_data['County'] = county_cancer_data['County'].apply(lambda x: x.replace(' county', '').replace(' parish', '').replace(' borough', ''))
county_cancer_data['State'] = county_cancer_data['Geography'].apply(lambda x: x.split(', ')[-1].split('(')[0])
county_cancer_data['FIPS'] = county_cancer_data[' FIPS']

# Remove values that don't contain state data
county_cancer_data = county_cancer_data.loc[county_cancer_data['State'] != 'US ']
county_cancer_data = county_cancer_data.loc[county_cancer_data['State'] != 'Puerto Rico']

# Remove null datapoints
county_cancer_data = county_cancer_data.loc[county_cancer_data['Average Annual Count'] != 'Â¶ ']
county_cancer_data = county_cancer_data.loc[county_cancer_data['Average Annual Count'] != 'Â¶Â¶']
county_cancer_data = county_cancer_data.loc[county_cancer_data['Average Annual Count'] != 'Â¶']
county_cancer_data = county_cancer_data.loc[county_cancer_data['Met Healthy People Objective of ***?'] != '<font color=grey>*</font>']

# Add column for state abbreviation
county_cancer_data['State Abbreviation'] = county_cancer_data['State'].apply(lambda x: reverse_state_abbrev[x])

# Make state name lowercase
county_cancer_data['State'] = county_cancer_data['State'].apply(lambda x: x.lower())

county_cancer_data.head()

,Geography,FIPS,Met Healthy People Objective of ***?,"Age-Adjusted Incidence Rate(Â†) - cases per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend (Â‡) in Incidence Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1,County,State,FIPS,State Abbreviation
1,"Union County, Florida(6,10)",12125,***,215.1,183.2,251.1,38,stable,-2.5,-24,25,union,florida,12125,FL
2,"Owsley County, Kentucky(7,8)",21189,***,179.7,134.8,236.3,11,rising,4.3,0.9,7.7,owsley,kentucky,21189,KY
3,"McCreary County, Kentucky(7,8)",21147,***,154.1,130.5,180.9,32,stable,-0.7,-3,1.7,mccreary,kentucky,21147,KY
4,"North Slope Borough, Alaska(6,10)",2185,***,150.8,97,220.1,7,stable,-0.2,-36.8,57.8,north slope,alaska,2185,AK
5,"Powell County, Kentucky(7,8)",21197,***,140.9,115.2,171,22,stable,0.4,-3.3,4.3,powell,kentucky,21197,KY

In [18]:
# Export county cancer data to csv
# county_cancer_data_years = [???]
county_cancer_data.to_csv("clean_data/county_cancer_trends_2011_2015.csv")
print('Done.')

Done.

## County Population Data

In [19]:
# Read in census data with county population estimates
census_csv = "Choropleth Testing/Resources/county_populations_census_2010-17.csv"
county_pop = pd.read_csv(census_csv, encoding='latin-1')

# Rename columns
county_pop = county_pop.rename(columns = {'April 1, 2010 - Census': '2010 Census',
                                          'April 1, 2010 - Estimates Base': 'Estimate Base',
                                          'Population Estimate (as of July 1) - 2010': '2010 Estimate',
                                          'Population Estimate (as of July 1) - 2011': '2011 Estimate',
                                          'Population Estimate (as of July 1) - 2012': '2012 Estimate',
                                          'Population Estimate (as of July 1) - 2013': '2013 Estimate',
                                          'Population Estimate (as of July 1) - 2014': '2014 Estimate',
                                          'Population Estimate (as of July 1) - 2015': '2015 Estimate',
                                          'Population Estimate (as of July 1) - 2016': '2016 Estimate',
                                          'Population Estimate (as of July 1) - 2017': '2017 Estimate'})

# Parse geography column into county/state columns
county_pop["County"] = county_pop['Geography'].apply(lambda x: x.split(", ")[0].lower())
county_pop["County"] = county_pop["County"].apply(lambda x: x.replace(" county", ""))
county_pop["County"] = county_pop["County"].apply(lambda x: x.replace(" parish", ""))
county_pop["State"] = county_pop['Geography'].apply(lambda x: x.split(", ")[-1])
county_pop["FIPS"] = county_pop['Id'].apply(lambda x: x[-5:])
county_pop["State Abbreviation"] = county_pop['State'].apply(lambda x: reverse_state_abbrev[x])
county_pop["State"] = county_pop['State'].apply(lambda x: x.lower())

# Remove unnecessary cols
county_pop = county_pop[['FIPS','County','State','State Abbreviation','2010 Census','2011 Estimate','2012 Estimate','2013 Estimate','2014 Estimate','2015 Estimate','2016 Estimate','2017 Estimate']]

county_pop.head()

,FIPS,County,State,State Abbreviation,2010 Census,2011 Estimate,2012 Estimate,2013 Estimate,2014 Estimate,2015 Estimate,2016 Estimate,2017 Estimate
0,01001,autauga,alabama,AL,54571,55199,54927,54695,54864,54838,55278,55504
1,01003,baldwin,alabama,AL,182265,186534,190048,194736,199064,202863,207509,212628
2,01005,barbour,alabama,AL,27457,27351,27175,26947,26749,26264,25774,25270
3,01007,bibb,alabama,AL,22915,22745,22658,22503,22533,22561,22633,22668
4,01009,blount,alabama,AL,57322,57562,57595,57623,57546,57590,57562,58013

In [20]:
# Change county population data format to match other datasets (new rows for each year)?
county_pop_2010_2017 = []
year_cols = ['2010 Census','2011 Estimate','2012 Estimate','2013 Estimate','2014 Estimate','2015 Estimate','2016 Estimate','2017 Estimate']

for i in range(len(county_pop)):
    county_fips = county_pop.iloc[i,0]
    county_name = county_pop.iloc[i,1]
    county_state = county_pop.iloc[i,2]
    county_st_abbrev = county_pop.iloc[i,3]
    for j in range(4,len(county_pop.iloc[i])-1):
        year = year_cols[int(j-4)].split()[0]
        county_yr_pop = county_pop.iloc[i,j]
        county_yr_row = {'FIPS':county_fips,
                          'County':county_name,
                          'State':county_state,
                          'State Abbreviation':county_st_abbrev,
                          'Year':year,
                          'Population':county_yr_pop}
        county_pop_2010_2017.append(county_yr_row)
        
county_pop_2010_2017 = pd.DataFrame(county_pop_2010_2017)
county_pop_2010_2017.head()

    County   FIPS  Population    State State Abbreviation  Year
0  autauga  01001       54571  alabama                 AL  2010
1  autauga  01001       55199  alabama                 AL  2011
2  autauga  01001       54927  alabama                 AL  2012
3  autauga  01001       54695  alabama                 AL  2013
4  autauga  01001       54864  alabama                 AL  2014

In [21]:
# Export county population data to csv
county_pop.to_csv("clean_data/county_pop.csv")
county_pop_2010_2017.to_csv("clean_data/county_pop_2010_2017.csv")
print('Done.')

Done.